:root {
  --header-bg: #0948554d;
  --second-bg: #06071b;
  --font-main: #ffffff;
  --font-second: #000000;
  --btn-color: #00c5eb;
  --cards-color: #b544fe80;
  --slider-point: #939eac;
}

body {
  font-family: "Inter", serif;
}

.container {
  width: 1248px;
  padding: 0 16px;
  margin: 0 auto;
}

.header {
  background: var(--header-bg);
  padding: 19px 0;
}

.header-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  display: block;
  display: inline-block;
  font-size: 28px;
  font-weight: 400;
  line-height: 1.21;
  color: var(--font-main);
}

.header-list {
  list-style: none;
  display: flex;
  gap: 40px;
}

.header-item {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.25;
  text-transform: uppercase;
}

.header-link {
  color: var(--font-main);
}

.hero {
  padding: 146px 0;
}

.hero-title {
  padding-bottom: 12px;
}

.hero-text {
  padding-bottom: 28px;
}

.hero-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding-bottom: 60px;
}

.hero-btn {
  border-radius: 5px;
  /* background: linear-gradient(90deg, #00c5eb -1.97%, #b544fe 89.43%); */
  background-color: var(--btn-color);
  border: none;
  padding: 12px 60px;
}

.hero-btn:hover {
  background-color: var(--cards-color);
}

.features-list {
  display: flex;
  flex-wrap: wrap;
}

.features-item {
  width: 608px;
}
.item-text {
  width: 220px;
}
