:root {
  --header-bg: #0948554d;
  --second-bg: #06071b;
  --font-main: #ffffff;
  --font-second: #000000;
  --btn-color: #00c5eb;
  --cards-color: #b544fe80;
  --slider-point: #939eac;
}

body {
  font-family: "Inter", serif;
}

.container {
  width: 1248px;
  padding: 0 16px;
  margin: 0 auto;
}

.header {
  /* background: var(--header-bg); */
  background: linear-gradient(
    90deg,
    rgb(7, 62, 90) 20.97%,
    rgb(59, 26, 95) 75.43%
  );

  backdrop-filter: blur(17.5px);
  padding: 19px 0;
}

.header-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  display: block;
  display: inline-block;
  font-size: 28px;
  font-weight: 400;
  line-height: 1.21;
  color: var(--font-main);
}

.header-list {
  list-style: none;
  display: flex;
  gap: 40px;
}

.header-item {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.25;
  text-transform: uppercase;
}

.header-link {
  color: var(--font-main);
}

.hero {
  padding: 146px 0;
  padding: 146px 0;
  position: relative;
  display: flex;
  background-color: var(--second-bg);
  color: var(--font-main);
}

.hero:after {
  content: "";
  width: 200px;

  height: 300px;
  position: absolute;
  right: 400px;

  top: 30%;
  display: inline-block;
  background: linear-gradient(10deg, #6c0adb 30%, #30cfebc0 70%, #1a1a4000)
    center center;
  filter: blur(100px);
  z-index: 1;
}
.hero::before {
  content: "";
  z-index: 2;
  position: absolute;
  display: inline-block;
  right: 300px;

  background: url("../img/iphonex.png") center / 450px no-repeat;
  width: 500px;

  height: 500px;
}

.hero-wrapper {
  position: relative;
  z-index: 1;
  display: inline-block;
}
.hero-wrapper::after {
  content: "";
  top: 0;
  left: 300px;
  position: absolute;
  background: url("../img/dekor.png");
  width: 541px;
  height: 418px;
}
.hero-wrapper::before {
  content: "";
  z-index: -1;
  position: absolute;
  background: radial-gradient(#4da2ca9c, #4c4cdd00, #1a1a4000) center center;
  background-position: center -50px;
  width: 100%;
  height: 100%;
  background-size: 500px 250px;
  background-repeat: no-repeat;
  filter: blur(45px);
}

.hero-title {
  padding-bottom: 12px;
}

.hero-text {
  padding-bottom: 28px;
}

.hero-list {
  display: flex;
  flex-direction: column;
  gap: 12px;

  padding-bottom: 60px;
  /* list-style-type: disc;
  list-style-image: url("../icon/dash.svg"); */
}
.hero-item {
  padding-left: 20px;
  position: relative;
}
.hero-item::before {
  position: absolute;
  content: "";
  left: -1px;
  display: inline-block;
  background-image: url(../icon/dash.svg);
  width: 18px;
  height: 18px;
}

.hero-btn {
  border-radius: 5px;
  /* background: linear-gradient(90deg, #00c5eb -1.97%, #b544fe 89.43%); */
  /* background-color: var(--btn-color); */
  border-radius: 5px;
  color: var(--font-main);
  background: linear-gradient(90deg, #00c5eb -1.97%, #b544fe 89.43%);
  border: none;
  padding: 12px 60px;
}

.hero-btn:hover {
  /* background-color: var(--cards-color); */
  background: linear-gradient(225deg, #00c5eb -1.98%, #b544fe 89.43%);
}

.features {
  padding: 100px 0 165px 0;
}

.features-title {
  padding-bottom: 80px;
  text-align: center;
}

.features-text {
  padding-bottom: 141px;
  text-align: center;
  inline-size: 886px;
  margin: 0 auto;
}

.features-list {
  display: flex;
  flex-wrap: wrap;

  background: url("../img/features-bg.png") center center / contain no-repeat;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 80px 400px;
  list-style-type: circle;
  list-style-image: url("../icon/list-marker.svg");
}

.features-item {
  width: 220px;
}

.features-sub__title {
  padding-bottom: 12px;
}

.team {
  text-align: center;
  padding-top: 80px;
}

.team-text {
  padding: 80px 0;
  width: 886px;
  margin: 0 auto;
}

.item-text {
  width: 220px;
}

.team-list {
  display: flex;
  justify-content: space-between;
}

.team-item {
  padding: 14px 12px 12px;
  background: var(--cards-color);
  /* text-align: center; */
  border-radius: 15px;
}

.list-title {
  padding: 20px 0 12px;
}

.list-text {
  line-height: 1.71;
}
